.newsContainer{
    max-width: 300px;
    font-size: 16px;
    padding: 3px;
    margin-left: 50px;
    color: white;    
    background-color: rgba(24, 33, 52, 0.6 );
    border-radius: 0 0 10px 10px;   
    line-height: 30px;
    overflow: hidden
}
.newsContainer img{
    width: 100%;
    opacity: 0.8;
    margin-bottom: -15px
    
}
.newsContainer img:hover{
     opacity: 1;    
}

.newsContainer .article{
border-bottom: solid rgb(122, 170, 224) 1px;

}


.newsContainer a{
    position: relative;
    top : -30px;
    left: 10px;
    color: white;
    background-color: rgb(122, 117, 117);
    opacity:0.8;
    
    }